Tests: upstream-test-suite
Depends: @builddeps@, fakeroot, squid
Restrictions: allow-stderr

Tests: squid
Depends: squid, squidclient, elinks, netcat, apparmor-utils, vsftpd, apache2, ssl-cert
Restrictions: needs-root
